body{
	background-image: url("http://thumbs.dreamstime.com/t/cave-illustration-wood-43722083.jpg");
	background-size: 75% 200%;
	background-repeat: no-repeat;

}

div#button {
	padding-left: 500px;
	padding-top: 250px;
}