body{
	background-image: url("http://dal-acm.ca/~dice/wordpress/wp-content/uploads/2010/07/cave.jpg");
	background-size: 75% 200%;
	background-repeat: no-repeat;

}

div#button {
	padding-left: 500px;
	padding-top: 250px;


